<!doctype html>

<html ng-app="projectBox">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ProjectBox</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="core.js"></script>

</head>

<body ng-controller="mainController">
	<div class="container">

		<div class="jumbotron text-center">
			<h1>ProjectBox <span class="label label-info">{{ user.title }}</span></h1>
		</div>

		<!--div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox" ng-repeat="project in projects">
					<label>
						<input type="checkbox" ng-click="deleteProject(project._id)"> {{ project.title }}
					</label>
				</div>

			</div>
		</div-->

		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->

						<input type="text" class="form-control input-lg text-center" placeholder="Enter your username" ng-model="formData.text">
						<input type="text" class="form-control input-lg text-center" placeholder="Enter your password" ng-model="formData.descr">
					</div>

					<button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Create</button>
				</form>
			</div>
		</div>
		
		<div class="text-center text-muted">
			<p>Prototype by TeamName</a>.</p>
		</div>

	</div>

</body>
</html>